@tailwind base;
@tailwind components;
@tailwind utilities;

ul.navbar-nav {
  @apply md:flex mx-auto text-base md:order-none flex order-last;
}

li.nav-item {
  @apply mx-5;
}

ul.navbar-group {
  @apply text-gray-400;
}
ul.navbar-group li.nav-link {
  @apply font-normal text-lg mb-1;
}

.nav-item .nav-link {
  @apply font-normal;
}
.nav-item .nav-link.active {
  @apply font-medium;
  color: #106ac6;
}
.btn {
  @apply py-3 px-6 rounded-lg transition-all duration-300 text-black text-base text-center;
}

.btn:hover {
  @apply scale-95 ease-in;
}
.btn:active {
  @apply scale-90 ease-in;
}

.btn.btn-primary {
  @apply text-white;
  background-color: hsl(210, 85%, 42%);
}

.btn.btn-primary:hover {
  @apply text-white;
  background-color: hsl(210, 85%, 33%);
}

.btn.btn-outline-primary-alt {
  color: #1480eb;
  border: 1px solid hsl(210, 84%, 50%);
}

.btn.btn-outline-primary-alt:hover {
  @apply text-white;
  background: hsl(210, 84%, 50%);
}

.btn.btn-primary-alt {
  @apply text-white;
  background-color: hsl(210, 84%, 50%);
}

.btn.btn-primary-alt:hover {
  @apply text-white;
  background-color: hsl(210, 84%, 33%);
}
a.anim1 i {
  @apply ease-in-out transition-transform;
  transform: translateX(0px);
}

a.anim1:hover i {
  transform: translateX(5px);
}
